<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
   	<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.datasource">java:comp/env/jdbc/museumDB</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping class="database.entity.Author" />
    <mapping class="database.entity.Exhibit" />
    <mapping class="database.entity.Fund" />
    <mapping class="database.entity.Kit"/>
    <mapping class="database.entity.MovingOfExhibit" />
    <mapping class="database.entity.MovingOfKit" />
  </session-factory>
</hibernate-configuration>
